.jcmst-translate-actions{
    padding: 10px 10px 0;
    text-align: right;	
}
.jcmst-left-btn input{
	float:left;
}
#jcmst_set_relation_wrap .full-width{
	width: 100%;
}
.jcmst-hidden{
	display: none;
}
#jcmst_set_rel_post_url.error{
	background:#fecac2;
}
#jcmst_set_rel_post_url.highlight{
	background: #CFEA93;
}
#jcmst_set_relation_wrap span.error,
#jcmst_translate_wrap span.error{
	display: block;
	color: #d00;
}
#jcmst_save_rel_btn{
	float: left;
}
#jcmst_cancel_rel_btn,
#jcmst_cancel_trnsl_btn{
	float: right;
}
.jcmst-delete-translation{
	float: right;
	padding: 0 0 0 10px;
	color: #d00;
}
.jcmst-delete-translation:hover{
	color:#a00;
}
#jcmst_translate_wrap .wp-tab-panel,
#jcmst_set_relation_wrap .wp-tab-panel{
	max-height: none;
}
#jcmst_available_translations_wrapper table td{
	vertical-align: top;
}